# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
*.apk
*.aab
*.keystore
*.jks

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store
